<html>
    <head>
        <title>All Cats</title>
    
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header') %>

        <content>
            <form method="post">
                <input type="text" id="search" name="search" placeholder="Search for cats...">
            </form>
            <% for (let cat of cats) { %>
                <div class="cat-content">
                    <div class="cat-header">
                        <img src="/catimage/<%=cat._id%>" class="cat-paw"/>
                        <div>
                            <h2 class="cat-title"><a href="/cat/<%=cat._id%>"><%=cat.name%></a></h2>
                            <% const petText = cat.canpet ? "You can pet this cat!" : "Do not pet this cat!"%>
                            <% const feedText = cat.canfeed ? "You can feed this cat!" : "Do not feed this cat!"%>
                            <% const healthyText = cat.healthy ? "This cat is healthy." : "This cat is not healthy :("%>
                            <div class="cat-icons">
                                <img src="/images/<%= cat.canpet ? "Pet.png" : "NoPet.png"%>" alt="<%= petText%>" title="<%= petText%>"/>
                                <img src="/images/<%= cat.canfeed ? "Feed.png" : "NoFeed.png"%>" alt="<%= feedText%>" title="<%= feedText%>"/>
                                <img src="/images/<%= cat.healthy ? "Healthy.png" : "NoHealthy.png"%>" alt="<%= healthyText%>" title="<%= healthyText%>"/>
                            </div>
                        </div>
                    </div>
                    <p><%=cat.remarks%></p>
                </div>
            <% } %>
            <div class="cat-content" style="background-color:rgb(253, 228, 232);">
                <div class="cat-header">
                    <h2 style="text-align:center;margin:auto;"><a href="/cat/new">Add a cat!</a></h2>
                </div>
                <p>If you can't find the cat you're looking for, feel free to add them!</p>
            </div>
        </content>
    </body>
</html>
