<html>
    <head>
        <title>Locat Map</title>
        
        <%- include('partials/head.ejs') %>

        <!-- the google maps script -->
        <script
            src="http://maps.googleapis.com/maps/api/js?<%= gapiOptions %>"
            defer
        ></script>

        <!-- idk if i am doing this right but here i am declaring the fuction for the map -->
        <!-- there red sqiugglies but i think thats cause vscode doesnt like html + ejs -->
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Davis
                const davis = { lat: 38.5449, lng: -121.7405 };
                // The map, centered at davis
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: <%= zoomLevel %>,
                    center: davis,
                    styles: <%- include('partials/mapStyles.ejs') %>,
                });

                <% console.log(catMarkers) %>
                <% for (let catMarker of catMarkers) { %>
                    const contentString_<%=catMarker.id%> = '<div class="cat-content">' +
                        '<div class="ca        <!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->t-header">' + 
                        <% if (catMarker.imgUrl) { %>
                        '<img src="<%=catMarker.imgUrl%>" class="cat-thumb"/>' + 
                        <% } %>
                        '<h1 class="cat-title"><a href="/cat/<%=catMarker.id%>"><%=catMarker.name%></a></h1>' +
                        '</div>' + 
                        '<div id="bodyContent">' +
                        "<p><%=catMarker.name%> is a cat. They are really cute.</p>" +
                        "</div>" + 
                        "</div>";

                    const infowindow_<%=catMarker.id%> = new google.maps.InfoWindow({
                        content: contentString_<%=catMarker.id%>,
                    });

                    const marker_<%=catMarker.id%>  = new google.maps.Marker({
                        position: { lat: <%= catMarker.lat%>, lng: <%= catMarker.lng %> },
                        map: map,
                        icon: "https://media.discordapp.net/attachments/963907404007870566/965023021465231410/MapPin.png",
                    });

                    // adding a listener to pop up the info box upon clicking
                    marker_<%=catMarker.id%>.addListener("click", () => {
                        infowindow_<%=catMarker.id%>.open({
                        anchor: marker_<%=catMarker.id%>,
                        map,
                        shouldFocus: false,
                        });
                    });
                <% } %>
            }
            
            window.initMap = initMap;
        </script>

    </head>
    <body>
        <%- include('partials/header.ejs') %>

        <!--The div element for the map -->
        <div id="map"></div>
    </body>
</html>
