<html>
    <head>
        <title>Locat Map</title>
        
        <%- include('partials/head.ejs') %>

        <!-- the google maps script -->
        <script
            src="http://maps.googleapis.com/maps/api/js?<%= gapiOptions %>"
            defer
        ></script>

        <!-- idk if i am doing this right but here i am declaring the fuction for the map -->
        <!-- there red sqiugglies but i think thats cause vscode doesnt like html + ejs -->
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Davis
                const davis = { lat: 38.5449, lng: -121.7405 };
                // The map, centered at davis
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: <%= zoomLevel %>,
                    center: davis,
                    styles: <%- include('partials/mapStyles.ejs') %>,
                    mapTypeControl: false,
                    streetViewControl: false,
                });

                const infoWindow = new google.maps.InfoWindow({});

                google.maps.event.addListener(map, 'click', function() {
                    infoWindow.close();
                });

                <% for (let catMarker of catMarkers) { %>
                    const contentString_<%=catMarker._id%> = '<div class="cat-content">' +
                        '<div class="cat-header">' + 
                        <% if (catMarker.imgUrl) { %>
                            '<div class="pawHolder">' + 
                            '<img src="<%=catMarker.imgUrl%>" class="cat-paw"/>' + 
                            '</div>' + 
                        <% } %>
                        '<div>' + 
                        '<h2 class="cat-title"><a href="/cat/<%=catMarker._id%>"><%=catMarker.name%></a></h2>' +
                        '<div class="cat-icons">' +
                        '<img src="/images/<%= catMarker.canpet ? "Pet.png" : "NoPet.png"%>" alt="<%= catMarker.canpet ? "You can pet this cat!" : "Do not pet this cat!"%>"/>' +
                        '<img src="/images/<%= catMarker.canfeed ? "Feed.png" : "NoFeed.png"%>" alt="<%= catMarker.canfeed ? "You can feed this cat!" : "Do not feed this cat!"%>"/>' +
                        '<img src="/images/<%= catMarker.healthy ? "Healthy.png" : "NoHealthy.png"%>" alt="<%=catMarker.healthy ? "This cat is healthy." : "This cat is not healthy :("%>"/>' +
                        '<img src=""/>' +
                        '</div>' +
                        '</div>' +
                        '</div>' + 
                        '<div class="bodyContent">' +
                        "<p><%=catMarker.name%> is a cat. They are really cute.</p>" +
                        "</div>" + 
                        "</div>";

                    const marker_<%=catMarker._id%>  = new google.maps.Marker({
                        position: { lat: <%= catMarker.lat%>, lng: <%= catMarker.lng %> },
                        map: map,
                        icon: "<%=markerIconUrl%>",
                    });

                    // adding a listener to pop up the info box upon clicking
                    marker_<%=catMarker._id%>.addListener("click", () => {
                        infoWindow.open(map, marker_<%=catMarker._id%>);
                        infoWindow.setContent(contentString_<%=catMarker._id%>);
                    });
                <% } %>
            }
            
            window.initMap = initMap;
        </script>

    </head>
    <body>
        <%- include('partials/header.ejs') %>

        <!--The div element for the map -->
        <div id="map"></div>
    </body>
</html>
